# PyAudio
pyaudio
simpleaudio


numpy
openai_whisper
torch
torchvision
# torchaudio --extra-index-url https://download.pytorch.org/whl/cpu

numpy==1.21.5
openai_whisper==20230117
pydub==0.25.1
pyrubberband==0.3.0
pytube==12.1.2
pytube3==9.6.4
whisper==1.1.10


streamlit
watchdog

